<div class="container">
  <div class="row">
    <div class="col s12 m5 offset-m4">
      <div
        class="card search-card"
        style="padding-left: 10px; padding-right: 10px"
      >
        <h6>Rechercher un pokemon</h6>
        <div class="row">
          <div class="input-field custom-bordered-input col s12">
            <input
              id="search"
              placeholder="Saisir le nom du pokemon"
              type="text"
              class="validate"
              name="searchTerm"
              #searchField
              [value]="searchTerm()"
              (input)="searchTerm.set(searchField.value)"
            />
            <!-- <label for="search">Rechercher un pokemon</label> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    @if (loading()) {
    <div class="col s12 center-align">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>

        <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    } @for (pokemon of pokemonListFiltered(); track pokemon.id) {
    <div
      class="col s12 m4"
      [routerLink]="['/pokemons', pokemon.id]"
      style="cursor: pointer"
    >
      <div class="card" [appPokemonBorder]="pokemon.types[0]">
        <div class="row">
          <div class="col s12 m4 center-align image-container">
            <img [src]="pokemon.picture" [alt]="pokemon.name" />
          </div>
          <div class="col s12 m8">
            <div class="card-body">
              <h5 class="card-title">{{ pokemon.name }}</h5>
              <h6 class="card-subtitle">Taille: {{ size(pokemon) }}</h6>

              <p>{{ pokemon.created | date : "dd/MM/yyyy" }}</p>
              <p>Points de vie: {{ pokemon.life }}</p>
              <p>Dégâts: {{ pokemon.damage }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    }
  </div>
  <a
    routerLink="add"
    class="btn-floating btn-large waves-effect waves-light teal right"
    ><i class="material-icons">add</i></a
  >
</div>
