<nav>
  <div class="nav-wrapper teal darken-4">
    <a href="#" class="brand-logo">Pokedex</a>
    <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul> -->
  </div>
</nav>
<div class="container">
  <div class="row">
    @for (pokemon of pokemonList(); track pokemon.id) {
    <div class="col s12 m4">
      <div class="card">
        <div class="row">
          <div class="col s12 m4 center-align image-container">
            <img [src]="pokemon.picture" [alt]="pokemon.name" />
          </div>
          <div class="col s12 m8">
            <div class="card-body">
              <h5 class="card-title">{{ pokemon.name }}</h5>
              <h6 class="card-subtitle">Taille: {{ size(pokemon) }}</h6>

              <p>Types: {{ pokemon.types }}</p>
              <p>Points de vie: {{ pokemon.life }}</p>

              <div class="btn-group">
                <button
                  class="btn-flat waves-effect red white-text"
                  (click)="decrementLife(pokemon)"
                  [disabled]="pokemon.life <= 10"
                >
                  -
                </button>
                <button
                  class="btn-flat waves-effect teal white-text"
                  (click)="incrementLife(pokemon)"
                  [disabled]="pokemon.life >= 30"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    } @empty {
    <p>Aucun pokemon dans la liste</p>
    }
  </div>
</div>
