<div class="container">
  @if (pokemon(); as pokemon) {
  <div class="card">
    <div class="row">
      <div class="col s12 m4 center-align image-container">
        <img [src]="pokemon.picture" [alt]="pokemon.name" />
      </div>
      <div class="col s12 m8">
        <div class="card-content">
          <h2 class="card-title">{{ pokemon.name }}</h2>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Points de vie</th>
                <td>{{ pokemon.life }}</td>
              </tr>
              <tr>
                <th scope="row">Dégâts</th>
                <td>{{ pokemon.damage }}</td>
              </tr>
              <tr>
                <th scope="row">Types</th>
                <td>
                  @for(type of pokemon.types; track type) {
                  <span
                    class="badge grey white-text"
                    [style.backgroundColor]="getPokemonColor(type!)"
                    [style.color]="
                      type == 'Electrik' ? 'black !important' : 'white'
                    "
                    >{{ type }}</span
                  >
                  }
                </td>
              </tr>
              <tr>
                <th scope="row">Date de création</th>
                <td>{{ pokemon.created | date : "dd/MM/yyyy" }}</td>
              </tr>
            </tbody>
          </table>
          <div
            style="
              justify-content: space-between;
              margin-top: 1.5rem;
              display: flex;
            "
          >
            <button
              class="btn waves-effect waves-blue btn-flat amber-text"
              routerLink="/pokemons"
            >
              RETOUR
            </button>
            <button
              [routerLink]="['/pokemons/edit', pokemon.id]"
              class="btn btn-flat amber-text"
            >
              ÉDITER
            </button>
            <button class="btn btn-flat red-text" (click)="deletePokemon()">
              SUPPRIMER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  }@if (loading()) {
  <div class="col s12 center-align">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  } @if(error()) {
  <div class="container center-align">
    <div class="card">
      <div class="card-body">
        <img
          src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/035.png"
          class="img-fluid mx-auto d-block"
          alt="Rondoudou"
        />
        <h2>Hey, ce Pokémon n'existe pas !</h2>
        <a routerLink="/pokemons" class="btn btn-link text-decoration-none">
          RETOURNER À L'ACCUEIL</a
        >
      </div>
    </div>
  </div>
  }
</div>
