<div class="container">
  <div class="card">
    <div class="row">
      <div class="col s12 m4 center-align image-container">
        <img [src]="pokemon().picture" [alt]="pokemon().name" />
      </div>
      <div class="col s12 m8">
        <div class="card-content">
          <h2 class="card-title">{{ pokemon().name }}</h2>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Points de vie</th>
                <td>{{ pokemon().life }}</td>
              </tr>
              <tr>
                <th scope="row">Dégâts</th>
                <td>{{ pokemon().damage }}</td>
              </tr>
              <tr>
                <th scope="row">Types</th>
                <td>
                  @for(type of pokemon().types; track type) {
                  <span class="badge grey white-text">{{ type }}</span>
                  }
                </td>
              </tr>
              <tr>
                <th scope="row">Date de création</th>
                <td>{{ pokemon().created | date : "dd/MM/yyyy" }}</td>
              </tr>
            </tbody>
          </table>
          <div
            style="
              justify-content: space-between;
              margin-top: 1.5rem;
              display: flex;
            "
          >
            <button
              class="btn waves-effect waves-blue btn-flat amber-text"
              routerLink="/pokemons"
            >
              RETOUR
            </button>
            <button
              [routerLink]="['/pokemons/edit', pokemon().id]"
              class="btn btn-flat amber-text"
            >
              ÉDITER
            </button>
            <button class="btn btn-flat red-text">SUPPRIMER</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
